SPRING_PROFILES_ACTIVE=local
DATABASE_URL=jdbc:postgresql://HOST:5432/DB_NAME?sslmode=require
DATABASE_USERNAME=your_database_user
DATABASE_PASSWORD=your_database_password
SPRING_SQL_INIT_MODE=always
FILE_UPLOAD_DIR=src/main/resources/static/img/projects/
STATIC_FILES_DIR=src/main/resources/static/
