<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
        <nav th:fragment="nav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#education">Educación</a></li>
                <li><a href="#skills">Habilidades</a></li>
                <li><a href="#experience">Experiencia</a></li>
                <li><a href="#projects">Proyectos</a></li>
                <li><a href="#contact">Contactó</a></li>
            </ul>
        </nav>

</body>
</html>