<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<section id="contact" th:fragment="contact">
    <h2>CONTACTARME</h2>
    <form class="contact-form" action="https://formspree.io/f/mdkqdawj" method="post">
        <input name="name" type="text" placeholder="Tu nombre" required>
        <input name="email" type="email" placeholder="Tu email" required>
        <textarea name="message" placeholder="Tu mensaje" rows="6" required></textarea>
        <button type="submit">Enviar</button>
    </form>
</section>

</body>
</html>